.gslide-image img {
  width: 873px;
  height: 937px;
}

.btn-search{
  
}

.item-cart {
  border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

.btn-signup {
  font-size: 0.7rem !important;
  padding: 0.2rem 0.5rem;
}

.jus-end {
  justify-content: end;
}

.btn-check-mg-bot {
  margin-bottom: 1.125rem;
}

.plus-n-minus-btn {
  width: 3.5rem;
  height: 2.5rem;
  border-radius: 0;
}

.font-size-1rem {
  font-size: 1rem;
}