<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="customer_verification" th:remove="tag">
	<div class="row mt-4">

		<div class="col-12 col-lg-8 m-auto">
			<div class="card">
				<div class="card-body">
					<h5 class="font-weight-bolder">Mail Template</h5>
					<div class="row">
						<div class="col-12">
							<label>E-mail Subject</label>
							<input class="form-control" type="text" name="CUSTOMER_VERIFY_SUBJECT"  th:value="${CUSTOMER_VERIFY_SUBJECT}" required />
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<label>E-mail Content</label>
							
							<textarea class="inp_editor1" name="CUSTOMER_VERITY_CONTENT" id="customerVerificationContent"  required>[[${CUSTOMER_VERITY_CONTENT}]]</textarea>  
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	



</body>
</html>