<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head('none')">
  
</head>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <!-- Sidebar -->
    <div th:replace="fragments :: sidebar"></div>
    <!-- End Sidebar -->
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <div th:replace="fragments :: navbar"></div>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <p class="mb-0">User Table</p>
                <!-- Toast Message -->
                <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show toast-msg" role="alert">
                  <span class="alert-icon"><i class="fa-solid fa-thumbs-up"></i></span>
                  <span class="alert-text"><strong style="margin-right: 4px;">Success!</strong>[[${message}]]</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <a th:href="@{/users/new}" class="btn btn-primary btn-sm ms-auto">Create new user</a>
               
              </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center  mb-0" id="dataTable">
                  <thead>
                    <tr>
                      <th class="font-header-tables text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                      <th class="font-header-tables text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                      <th class="font-header-tables text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Role</th>
                      <th class="font-header-tables text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="font-header-tables text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date create</th>
                      <th class="font-header-tables text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="user : ${listUsers}">
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">[[${user.id}]]</span>
                      </td>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img th:if="${user.photos == null}" th:src="@{/images/user-placeholder.jpg}" class="avatar avatar-sm me-3"/>
                            <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}" class="avatar avatar-sm me-3"/>
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm"><span>[[${user.firstname}]]</span> <span>[[${user.lastname}]]</span></h6>
                            <p class="text-xs text-secondary mb-0">[[${user.email}]]</p>
                          </div>
                        </div>
                      </td>
                    
                      <td>
                        <p class="text-xs font-weight-bold mb-0">[[${user.roles}]]</p>
                        <p class="text-xs text-secondary mb-0"></p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <a th:href="@{'/users/' + ${user.id} + '/enabled/false'}" th:if="${user.enabled == true}" class="badge badge-sm bg-gradient-success" title="Disable this user "><i class="fa-solid fa-circle-check"></i></a>
                        <a th:href="@{'/users/' + ${user.id} + '/enabled/true'}" th:if="${user.enabled == false}" class="badge badge-sm bg-gradient-warning" title="Enable this user"><i class="fa-solid fa-ban"></i></a>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                      </td>
                      <td class="align-middle">
                       <div style="display: flex; justify-content: space-evenly;">
                          <a th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user" class="font-weight-bold text-xs btn bg-gradient-info" data-toggle="tooltip" data-original-title="Edit user">
                            <i class="fa-solid fa-pen-to-square"></i>
                            Edit
                          </a>
                          <a th:href="@{'/users/delete/' + ${user.id}}" 
                             th:userId="${user.id}"
                             title="Delete this user"
                             class="font-weight-bold text-xs btn bg-gradient-danger link-delete" 
                             data-toggle="tooltip" 
                             data-original-title="Edit user">

                            <i class="fa-solid fa-trash-can"></i>

                          </a>
                       </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
     
     <!-- <div class="m-1" th:if="${totalItems > 0}">
		<span>Showing [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
	</div>
	<div class="text-center m-1" th:unless="${totalItems > 0}">
		<span>No users found</span>
	</div> -->
<!-- 	
	<div>	
		<nav aria-label="Page navigation example">
		  <ul class="pagination justify-content-center">
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		      <a class="page-link" title="first" th:href="@{/users/page/1}">
		        
            <i class="fa-solid fa-angles-left"></i>
		      </a>
		    </li>
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled' }">
		      <a class="page-link" title="previous" th:href="@{'/users/page/' + ${currentPage - 1 }}" >
		        
            <i class="fa fa-angle-left"></i>
		      </a>
		    </li>
		    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1,totalPage)}">
		    	<a class="page-link" th:href="@{'/users/page/' + ${i}}">[[${i}]]</a>
		    </li>
		    
		    <li th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled'}">
		      <a class="page-link" title="next" th:href="@{'/users/page/' + ${ currentPage + 1}}">
		        <i class="fa fa-angle-right"></i>
		      </a>
		    </li>
		    <li th:class="${currentPage < totalPage ? 'page-item' : 'page-item disabled'}">
		      <a class="page-link" title="last" th:href="@{'/users/page/' + ${ totalPage}}">
		        <i class="fa-solid fa-angles-right"></i>
		      </a>
		    </li>
		  </ul>
		</nav>
	</div>
      -->
      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                made with <i class="fa fa-heart"></i> by
                <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                for a better web.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </main>
  
  
  <!-- Modal -->
  <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title text-gradient text-danger" id="modal-title-notification">Delete Confirmation</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="py-3 text-center">

            <div style="color: #fbb140;">
              <i class="fa-solid fa-circle-exclamation ni-3x"></i>
            </div>
            
            <h4 class="text-gradient text-danger mt-4" id="confirmText"></h4>
            <p id="modal-body-notification"></p>
          </div>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn bg-gradient-info btn-block" id="yesBtn">
            Yes, just delete it
          </a>
          <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
	
  <div th:replace="fragments :: fixplugin"></div>
  <!--   Core JS Files   -->
  <div th:replace="fragments :: scriptTable"></div>

	<div th:replace="fragments :: scriptTablesFuction"></div>


  <script type="text/javascript">
    $(document).ready(function() {
      $(".link-delete").on("click", function(e){
        e.preventDefault();
        link = $(this);
        //alert($(this).attr("href"));
        userId = link.attr("userId");
        $("#yesBtn").attr("href", link.attr("href"));
        $("#confirmText").text("Are you sure want to delete this User?");
        $("#modal-notification").modal("show");      
      })

    })
    
    // $("dataTable_length").attr("class", "col-md-6");
    // $("dataTable_filter").attr("class", "col-md-6");

    // window.onload = function()
    // {
    //   document.getElementById("dataTable_length").classList.add("col-md-6");
    //   document.getElementById("dataTable_filter").classList.add("col-md-6");
    // };

    $("#logoutLink").on("click",function(e) {
        e.preventDefault();
        document.logoutForm.submit();
      });

  </script>
</body>

</html>